<ul class="nav flex-column gap-2">
  <li class="nav-item">
    <a class="btn btn-outline-light w-100 text-start" routerLink="/perfil" routerLinkActive="active">Perfil</a>
  </li>
  <li class="nav-item">
    <a class="btn btn-outline-light w-100 text-start" routerLink="/ingresar-clientes" routerLinkActive="active">Ingresar Cliente</a>
  </li>
  <li class="nav-item">
    <a class="btn btn-outline-light w-100 text-start" routerLink="/visualizar-clientes" routerLinkActive="active">Visualizar Clientes</a>
  </li>
  <li class="nav-item">
    <a class="btn btn-outline-light w-100 text-start" routerLink="/ingresar-ost" routerLinkActive="active">Ingresar OST</a>
  </li>
  <li class="nav-item">
    <a class="btn btn-outline-light w-100 text-start" routerLink="/ver-ost" routerLinkActive="active">Ver OST</a>
  </li>
  <li>
     <a class="btn btn-outline-light w-100 text-start" routerLink="/ver-cotizaciones" routerLinkActive="active">Ver Cotizaciones</a>  
  </li> 
</ul>












<!--<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="d-flex justify-content-end mb-3">
   <button class="btn btn-danger" (click)="logout()">Cerrar sesión</button>
   </div>
    <div class="col-md-6">

      <button class="btn btn-sm btn-outline-dark mb-3" (click)="goBack()">
        ← Volver
      </button>

     
      <div class="card text-center mb-4 shadow">
        <div class="card-body">
          <h4 class="card-title">Bienvenido, {{ nombres }}</h4>
          <p class="card-text mb-1"><strong>Rol:</strong> {{ rol }}</p>
          <p class="card-text mb-1"><strong>Email:</strong> {{ nombreUsuario + '@gmail.com'}}</p>
          <p class="card-text mb-1"><strong>Nombres:</strong> {{ nombreUsuario + 'sss'}}</p>
        </div>
      </div>

      
      <div class="card shadow">
        <div class="card-body d-flex flex-column gap-3">

         
          <button 
            *ngIf="rol === 'recepcionista'" 
            type="button" 
            class="btn btn-outline-primary"
            (click)="navigate('/ingresar-clientes')">
            Ingresar Cliente
          </button>

          <button 
            *ngIf="rol === 'recepcionista'" 
            type="button" 
            class="btn btn-outline-secondary"
            (click)="navigate('/visualizar-clientes')">
            Visualizar Clientes
          </button>

          <button 
            *ngIf="rol === 'recepcionista'" 
            type="button" 
            class="btn btn-outline-success"
            (click)="navigate('/ingresar-ost')">
            Ingresar Orden de Servicio Técnico (OST)
          </button>

        </div>
      </div>

    </div>
  </div>
</div>
-->