<ul class="nav flex-column gap-2">
  <li class="nav-item">
    <a class="btn btn-outline-light w-100 text-start" routerLink="/perfil" routerLinkActive="active">
      <i class="fas fa-user me-2"></i>Perfil
    </a>
  </li>
  <li class="nav-item">
    <a class="btn btn-outline-light w-100 text-start" routerLink="/cliente-ost" routerLinkActive="active">
      <i class="fas fa-tools me-2"></i>Mis ordenes
    </a>
  </li>
  <li class="nav-item">
    <a class="btn btn-outline-light w-100 text-start" routerLink="/cliente-mis-autos" routerLinkActive="active">
      <i class="fas fa-car me-2"></i>Mis Autos
    </a>
  </li>
  <li class="nav-item">
    <a class="btn btn-outline-light w-100 text-start" routerLink="/cliente-recibos" routerLinkActive="active">
      <i class="fas fa-receipt me-2"></i>Mis Recibos
    </a>
  </li>
  <li class="nav-item">
    <a class="btn btn-outline-light w-100 text-start" routerLink="/cliente-encuestas" routerLinkActive="active">
      <i class="fas fa-clipboard-check me-2"></i>Mis Encuestas
    </a>
  </li>
</ul>