<div class="bg-dark text-white p-3 d-flex flex-column" style="width: 250px; height: 100vh;">
  <!-- Perfil -->
  <div class="text-center mb-4">
    <img src="https://randomuser.me/api/portraits/men/32.jpg" alt="Perfil" class="rounded-circle" width="80" height="80">
    <h5 class="mt-2">{{ nombre }}</h5>
    <p class="text-white">{{ rol }}</p>
    <p class="text-white">{{ nombreUsuario }}</p>
  </div>
  <!-- Menú según el rol -->
  <ng-container [ngSwitch]="rol">
    <app-menu-recepcionista *ngSwitchCase="'recepcionista'"></app-menu-recepcionista>
    <app-testeo *ngSwitchCase="'cliente'"></app-testeo>
    <app-menu-tecnico *ngSwitchCase="'tecnico'"></app-menu-tecnico>
    <app-menu-tecnico *ngSwitchCase="'supervisor'"></app-menu-tecnico>
    <div *ngSwitchDefault class="text-warning">Rol no reconocido</div>
  </ng-container>
</div>
