.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1030; /* asegúrate de que esté por encima de otros elementos */
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}

.navbar.scrolled {
  background-color: rgba(33, 37, 41, 0.85) !important;
  backdrop-filter: blur(6px);
}